<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RNDBindingInfoNameKey</key>
	<dict>
		<key>RNDAlignmentBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDAlternateImageBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDAlternateTitleBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDAnimateBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDAnimationDelayBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDArgumentBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDAttributedStringBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentArrayBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentArrayForMultipleSelectionBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentDictionaryBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentHeightBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentObjectBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentObjectsBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentSetBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentValuesBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDContentWidthBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDCriticalValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDataBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDisplayPatternTitleBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDisplayPatternValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDocumentEditedBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDoubleClickArgumentBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDDoubleClickTargetBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDEditableBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDEnabledBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDExcludedKeysBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFilterPredicateBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontBoldBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontFamilyNameBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontItalicBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontNameBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDFontSizeBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDHeaderTitleBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDHiddenBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array>
				<string>RNDConditionallySetsHiddenBindingOption</string>
			</array>
		</dict>
		<key>RNDImageBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDIncludedKeysBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDInitialKeyBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDInitialValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDIsIndeterminateBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDLabelBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDLocalizedKeyDictionaryBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDManagedObjectContextBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMaximumRecentsBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMaxValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMaxWidthBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMinValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMinWidthBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDMixedStateImageBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDOffStateImageBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDOnStateImageBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDPositioningRectBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDPredicateBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDRecentSearchesBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDRepresentedFilenameBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDRowHeightBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedIdentifierBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedIndexBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedLabelBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedObjectBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedObjectsBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedTagBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectedValuesBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectionIndexesBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSelectionIndexPathsBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDSortDescriptorsBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDTargetBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDTextColorBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDTitleBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDToolTipBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDTransparentBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDValuePathBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDValueURLBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDVisibleBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDWarningValueBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
		<key>RNDWidthBindingName</key>
		<dict>
			<key>RNDBindingInfoExclusionsKey</key>
			<array/>
			<key>RNDBindingInfoRequirementsKey</key>
			<array/>
			<key>RNDBindingInfoTypeKey</key>
			<string>RNDBindingTypeSimpleValue</string>
			<key>RNDBindingInfoValueTypeKey</key>
			<string></string>
			<key>RNDBindingInfoValueClassKey</key>
			<string></string>
			<key>RNDBindingInfoOptionsKey</key>
			<array/>
		</dict>
	</dict>
	<key>RNDBindingInfoOptionsKey</key>
	<dict>
		<key>RNDAllowsEditingMultipleValuesSelectionBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDAllowsNullArgumentBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDAlwaysPresentsApplicationModalAlertsBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDConditionallySetsEditableBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDConditionallySetsEnabledBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDConditionallySetsHiddenBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDContinuouslyUpdatesValueBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDCreatesSortDescriptorBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDDeletesObjectsOnRemoveBindingsOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDDisplayNameBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDDisplayPatternBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDContentPlacementTagBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueInt64Type</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string>0</string>
		</dict>
		<key>RNDHandlesContentAsCompoundValueBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDInsertsNullPlaceholderBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDInvokesSeparatelyWithArrayObjectsBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDMultipleValuesPlaceholderBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDNoSelectionPlaceholderBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDNotApplicablePlaceholderBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDNullPlaceholderBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDRaisesForNotApplicableKeysBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDPredicateFormatBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDSelectorNameBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDSelectsAllWhenSettingContentBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDValidatesImmediatelyBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
		<key>RNDValueTransformerNameBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueStringType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<string></string>
		</dict>
		<key>RNDValueTransformerBindingOption</key>
		<dict>
			<key>RNDBindingInfoValueTypeKey</key>
			<string>RNDBindingValueBooleanType</string>
			<key>RNDBindingInfoDefaultValueKey</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
